body {
    font: 16px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

li a {
    color: midnightblue;
    text-decoration: none;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.strong {
    font-weight: bold;
}

.square {
    cursor: pointer;
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 64px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.square.win {
    background-color: limegreen;
}

.square:focus {
    outline: none;
}

.game {
    display: flex;
    flex-direction: row;
    width: 550px;
    margin: 50px auto;
}

.game-info {
    width: 220px;
    margin-left: 20px;
    margin-top: 10px;
}